<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>Edit</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/sharedproj">Shared Projects</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <!-- Edit Project -->
  {{#if project}}
    <button type="button" class="login-button" onclick="location.href='/myproj'">Exit</button>
    <form class="form" action="/edit/project" method="POST">
        <h2>Edit Project</h2>
        <h3 class="login-title">Project Name:</h3>
        <input type="text" class="login-input" id="name" placeholder="Name" name="name" required>
        <h3 class="login-title">Project Description:</h3>
        <input type="text" class="login-input" id="desc" placeholder="Description" name="desc" required>
        <h3 class="login-title">Budget:</h3>
        <input type="number" class="login-input" id="budget" placeholder="Budget" name="budget" min="0" required>
        <h3 class="login-title">Start Date:</h3>
        <input type="date" class="login-input" id="start_date" placeholder="Start Date" name="start_date" onchange="minDate(event)" required>
        <h3 class="login-title">End Date:</h3>
        <input type="date" class="login-input" id="end_date" placeholder="End Date" name="end_date" onchange="maxDate(event)" required>
        <button type="submit" class="login-button">Submit</button>
    </form>
    <form class="form">
        <button type="button" class="login-button" onclick="location.href='/tasks'">Edit Tasks</button>
    </form>
    <form class="form" action="/del/project" method="POST">
        <button type="submit" class="login-button">Delete Project</button>
    </form>
    </div>
    <script>
      var text = "{{project}}"; //Get project
      var text = text.replace(/&quot;/g, '\"'); //Replace quote marks
      var obj = JSON.parse(text); //Parse to JSON 
      var project = obj[0]; //First Element in array as Project
      document.getElementById("name").setAttribute("placeholder", project.proj_name)
      document.getElementById("name").setAttribute("value", project.proj_name)
      document.getElementById("desc").setAttribute("placeholder", project.proj_desc)
      document.getElementById("desc").setAttribute("value", project.proj_desc)
      document.getElementById("budget").setAttribute("placeholder", project.budget)
      document.getElementById("budget").setAttribute("value", project.budget)
      document.getElementById("start_date").setAttribute("placeholder", project.start_date.split('T')[0]) 
      document.getElementById("start_date").setAttribute("min", project.start_date.split('T')[0])
      document.getElementById("start_date").setAttribute("value", project.start_date.split('T')[0])
      document.getElementById("end_date").setAttribute("placeholder", project.end_date.split('T')[0])
      document.getElementById("end_date").setAttribute("min", project.end_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("value", project.end_date.split('T')[0])
      function minDate(e) { // Get minimun date (one week after start date)
          var D = new Date(e.target.value);
          D.setDate(D.getDate() + 7 * 1);
          D = D.toISOString().split("T")[0];
          document.getElementById("end_date").setAttribute("min", D);
      }
        function maxDate(e) { // Get maximum date (one week before end date)
          var D = new Date(e.target.value);
          D.setDate(D.getDate() + 7 * -1);
          D = D.toISOString().split("T")[0];
          document.getElementById("start_date").setAttribute("max", D);
      }
    </script>
  {{/if}}
  <!-- Edit Task -->
  {{#if task}}
    <button type="button" class="login-button" onclick="location.href='/tasks'">Exit</button>
    <form class="form" action="/edit/task" method="POST">
        <h2>Edit Task</h2>
        <h3 class="login-title">Task Name:</h3>
        <input type="text" class="login-input" id="name" placeholder="Name" name="name" required>
        <h3 class="login-title">Task Description:</h3>
        <input type="text" class="login-input" id="desc" placeholder="Description" name="desc" required>
        <h3 class="login-title">Start Date:</h3>
        <input type="date" class="login-input" id="start_date" placeholder="Start Date" name="start_date" onchange="minDate(event)" required>
        <h3 class="login-title">End Date:</h3>
        <input type="date" class="login-input" id="end_date" placeholder="End Date" name="end_date" onchange="maxDate(event)" required>
        <button type="submit" class="login-button">Submit</button>
    </form>
    <form class="form">
        <button type="button" class="login-button" onclick="location.href='/acts'">Edit Activities</button>
    </form>
    <form class="form" action="/del/task" method="POST">
        <button type="submit" class="login-button">Delete Task</button>
    </form>
    </div>
    <script>
      var text = "{{task}}";
      var text = text.replace(/&quot;/g, '\"');
      var obj = JSON.parse(text);
      var task = obj[0];
      var project = "{{project1}}";
      var project = project.replace(/&quot;/g, '\"');
      var obj = JSON.parse(project);
      var project = obj[0];
      document.getElementById("name").setAttribute("placeholder", task.task_name);
      document.getElementById("name").setAttribute("value", task.task_name);
      document.getElementById("desc").setAttribute("placeholder", task.task_desc);
      document.getElementById("desc").setAttribute("value", task.task_desc);
      document.getElementById("start_date").setAttribute("placeholder", task.start_date.split('T')[0]);
      document.getElementById("start_date").setAttribute("min", project.start_date.split('T')[0]);
      document.getElementById("start_date").setAttribute("max", project.end_date.split('T')[0]);
      document.getElementById("start_date").setAttribute("value", task.start_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("placeholder", task.end_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("min", project.start_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("max", project.end_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("value", task.end_date.split('T')[0]);
      function minDate(e) {
        var D = new Date(e.target.value).toISOString().split("T")[0];
        document.getElementById("end_date").setAttribute("min", D);
      }
      function maxDate(e) {
        var D = new Date(e.target.value).toISOString().split("T")[0];
        document.getElementById("start_date").setAttribute("max", D);
      }
    </script>
  {{/if}}
  <!-- Edit Activity -->
  {{#if activity}}
    <button type="button" class="login-button" onclick="location.href='/acts'">Exit</button>
    <form class="form" action="/edit/act" method="POST">
        <h2>Edit Activity</h2>
        <h3 class="login-title">Activity Name:</h3>
        <input type="text" class="login-input" id="name" placeholder="Name" name="name" required>
        <h3 class="login-title">Activity Description:</h3>
        <input type="text" class="login-input" id="desc" placeholder="Description" name="desc" required>
        <h3 class="login-title">Progress:</h1>
        <input type="number" class="login-input" id="progress" placeholder="Progress" name="progress" min="0" required>
        <h3 class="login-title">Cost:</h1>
        <input type="number" class="login-input" id="cost" placeholder="Cost" name="cost" min="0" required>
        <button type="submit" class="login-button">Submit</button>
    </form>
    <form class="form" action="/del/act" method="POST">
        <button type="submit" class="login-button">Delete Activity</button>
    </form>
    </div>
    <script>
      var text = "{{activity}}";
      var text = text.replace(/&quot;/g, '\"');
      var obj = JSON.parse(text);
      var activity = obj[0];
      var text = "{{task1}}";
      var text = text.replace(/&quot;/g, '\"');
      var obj = JSON.parse(text);
      var task = obj[0];
      var project = "{{project2}}";
      var project = project.replace(/&quot;/g, '\"');
      var obj = JSON.parse(project);
      var project = obj[0];
      document.getElementById("name").setAttribute("placeholder", activity.act_name);
      document.getElementById("name").setAttribute("value", activity.act_name);
      document.getElementById("desc").setAttribute("placeholder", activity.act_desc);
      document.getElementById("desc").setAttribute("value", activity.act_desc);
      document.getElementById("progress").setAttribute("max", 100-task.progress);
      document.getElementById("progress").setAttribute("placeholder", activity.progress);
      document.getElementById("cost").setAttribute("max", project.budget);
      document.getElementById("cost").setAttribute("placeholder", activity.cost);
    </script>
  {{/if}}
</body>